<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/stylesheets/Myhome_none_note.css"/>
    <script src="/javascripts/jquery-3.1.0.min.js"></script>
    <script src="/javascripts/SelectUserPic.js"></script>
    <script>
        window.onload=SelectUserPic()
    </script>
</head>
<body>
<header>
    <%- include ../util/header-All_Other.ejs %>

</header>
<section style="margin: auto;width: 960px">
    <div>
        <img class="banner" src="/images/Myhome_note/myhome_banner.png" alt="">
    </div>
    <div class="UserPic_divH">
        <div class="Pic_divHL">
            <img src="/upload/<%= OtherData[0].UserPic %>" alt="">
        </div>
        <div class="UserName_divH"><span><%= OtherData[0].UserName %></span></div>

    </div>
    <div class="navbarH">
        <ul>
            <a href="/users/Otherhome_note_here?username=<%= travelnoteData[0].UserName %>">
                <li class=" active ">Ta的游记</li>
            </a>
            <a href="/users/Otherhome_question?username=<%= travelnoteData[0].UserName %>">
                <li class="navbarH_li">Ta的问答</li>
            </a>
            <a href="/users/Otherhome_exchange?username=<%= travelnoteData[0].UserName %>">
                <li class="navbarH_li">Ta的兑换</li>
            </a>
            <a href="/users/OtherPersonal_setting?username=<%= travelnoteData[0].UserName %>">
                <li class="navbarH_li">Ta的资料</li>
            </a>
        </ul>
    </div>
    <div class="travelNote_conH">
        <div class="travelContentH">
            <div class="bar_H">
                <p>Ta的游记</p>
            </div>
        </div>
        <div class="travel_none_iconH">
            <img src="/images/Myhome_note/travel_none_icon.png">
            <span>Ta还未发表过游记呢。</span>
        </div>
        <!--<a href="/contentData/writeNote">
            <div class="writeDiaryH">
                <img src="/images/Myhome_note/icon_writeDiaryWhite.png" alt="">
                <span>去发表游记</span>
            </div>
        </a>-->
    </div>
</section>
</body>
</html>